<h1>Сотрудники</h1>
<input class="btn btn-default" type="button" value="Добавить" (click)="add()"/>
<table *ngIf="tableMode; else create" class="table table-striped">
  <thead>
  <tr>
    <td>Имя</td>
    <td>Фамилия</td>
    <td>Возраст</td>
    <td>Пол</td>
    <td>Отдел</td>
    <td>Язык программирования</td>
    <td></td>
  </tr>
  </thead>
  <tbody *ngIf="employee">
  <tr *ngFor="let e of employees$ | async; trackBy: trackByEmpID">
    <ng-template [ngIf]="employee?.employeeID != e.employeeID" [ngIfElse]="edit">
      <td>{{e.name}}</td>
      <td>{{e.surname}}</td>
      <td>{{e.age}}</td>
      <td>{{e.gender}}</td>
      <td>{{e.department.name}}</td>
      <td>{{e.language.name}}</td>
      <td>
        <button class="btn btn-sm btn-primary" (click)="editEmployee(e)">Изменить</button>
        <button class="btn btn-sm btn-danger" (click)="delete(e)">Удалить</button>
      </td>
    </ng-template>
  </tr>
  </tbody>
</table>


<ng-template #create>
  <div class="form-group">
    <label>Имя</label>
    <label>
      <input type="text" [(ngModel)]="employee.name" class="form-control" />
    </label>
  </div>
  <div class="form-group">
    <label>Фамилия</label>
    <label>
      <input type="text" [(ngModel)]="employee.surname" class="form-control" />
    </label>
  </div>
  <div class="form-group">
    <label>Возраст</label>
    <label>
      <input type="number" [(ngModel)]="employee.age" class="form-control" />
    </label>
  </div>
  <div class="form-group">
    <label>Пол</label>
    <label>
      <select class="form-control" [(ngModel)]="employee.gender">
        <option *ngFor="let gender of genders" [value]="gender.value">
          {{gender.name}}
        </option>
      </select>
    </label>
  </div>
  <div class="form-group">
  <label>Отдел</label>
  <label>
    <select class="form-control" [(ngModel)]="employee.department.name">
      <option *ngFor="let d of empDepartments$ | async" [value]="d.name">
        {{d.name}}
      </option>
    </select>
  </label>
  </div>
  <div class="form-group">
  <label>Язык программирования</label>
  <label>
    <select class="form-control" [(ngModel)]="employee.language.name">
      <option *ngFor="let l of empLanguages$ | async" [value]="l.name">
        {{l.name}}
      </option>
    </select>
  </label>
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="submit()" class="btn btn-success"/>
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning"/>
  </div>
</ng-template>

<ng-template #edit>

</ng-template>
