<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title></title>
</head>
<body>
<h1>Отделы</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
  <thead>
  <tr>
    <td>Название</td>
    <td>Этаж</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of departments;">
      <td>
        <span *ngIf="!p.editable">{{p?.name}}</span>
        <input *ngIf="p.editable" type="text" [(ngModel)]="department.name" class="form-control" />
      </td>
      <td>
        <span *ngIf="!p.editable">{{p?.floor}}</span>
        <input *ngIf="p.editable" type="number" [(ngModel)]="department.floor" class="form-control" />
      </td>
      <td>
        <button class="btn btn-sm btn-primary" (click)="editDepartment(p)">Изменить/Сохранить</button>
        <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
      </td>
  </tr>
  </tbody>
</table>

<!--шаблон для добавления-->
<ng-template #create>
  <div class="form-group">
    <label>Название</label>
    <label>
      <input type="text" [(ngModel)]="department.name" class="form-control" />
    </label>
  </div>
  <div class="form-group">
    <label>Этаж</label>
    <label>
      <input type="number" [(ngModel)]="department.floor" class="form-control" />
    </label>
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="submit()" class="btn btn-success"/>
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning"/>
  </div>
</ng-template>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
