<h1>Отделы</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()"/>
<table *ngIf="tableMode; else create" class="table table-striped">
  <thead>
  <tr>
    <td>Название</td>
    <td>Этаж</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of departments; trackBy: trackByDeptID">
      <ng-template [ngIf]="department?.departmentID != d.departmentID" [ngIfElse]="edit">
        <td>{{d?.name}}</td>
        <td>{{d?.floor}}</td>
        <td>
          <button class="btn btn-primary" (click)="editDepartment(d)">Изменить</button>
          <button class="btn btn-danger" (click)="delete(d)">Удалить</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<ng-template #create>
  <h2>Создание нового отдела</h2>
  <div class="form-group">
    <label>Название отдела</label>
    <input type="text" [(ngModel)]="department.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Этаж</label>
    <input type="number" [(ngModel)]="department.floor" class="form-control" />
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="submit()" class="btn btn-success"/>
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning"/>
  </div>
</ng-template>

<ng-template #edit>
  <td>
  <label>
    <input type="text" [(ngModel)]="department.name" class="form-control">
  </label>
  </td>
  <td>
  <label>
    <input type="number" [(ngModel)]="department.floor" class="form-control">
  </label>
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="submit()" class="btn btn-success">
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning">
  </td>
</ng-template>
